<!DOCTYPE html>
<html>

<head>
    <title>Bills</title>
</head>

<body>
    <h2><a href='/'>Home</a></h2>
    <h2>Bills</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>
        <!-- <div>
            <script>
                function getItem(){
                    item_id = document.getElementById('item');
                    document.getElementById('item_id').value =  item_id.selectedIndex;                
                    t = item_id.options[item_id.selectedIndex].text;
                    alert(t)
                    document.getElementById('item_weight').value =  t.substring(t.indexOf("Weight : ")+9);                
                };
                function calculatePrice(){
                    weight = document.getElementById('item_weight').value                 
                    unit_price = document.getElementById('unit_price').value    
                    price = weight * unit_price             
                    document.getElementById('price').value = price                 
                    document.getElementById('total_price').value = price                 

                };
                function calculateDiscountedPrice(){
                    weight = document.getElementById('item_weight').value                 
                    unit_price = document.getElementById('unit_price').value    
                    discount = document.getElementById('discount').value    
                    price = weight * unit_price 
                    price = price * (1-discount/100)     
                    document.getElementById('total_price').value = price                 
                };
            
            </script>
            <form id='bill_add' method="POST" action="/bill/">
                <select id="item" onchange="getItem();">
                    {% for item in items %}
                    <option value={{item[0]}} >Name : {{item[1]}} Description : {{item[2]}} Weight : {{item[3]}}</option>
                    {% endfor %}
                </select><br>
                <input type="text" name="item_id" id="item_id"   placeholder="Item Id"> 
                <input  type="number" name="customer_id" id="customer_id" disabled value="{{ customer_id}}" placeholder="Customer Id">                
                <input  type="number" name="unit_price" id="unit_price" placeholder="Price per gm" onblur="calculatePrice()">
                <input  type="text" disabled id="item_weight" name="item_weight" value="0.00" placeholder="Weight in gms">
                <input  type="number" id="price" name="price" disabled placeholder="0.00">
                <input  type="number" id="discount"  name="discount" placeholder="Discount" onblur="calculateDiscountedPrice()">
                <input  type="number" id="total_price" name="total_price" placeholder="Total Price">
                <input  type="submit" value="Add" id="bill_save"  ><br><br>
            </form>
        </div> -->
            <div>
        <table style="width:1000px" border="3">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Weight</th>
            <th>Photo</th>
            <th>Created Date</th>
            <th>Stock</th>
            <th>Qty</th>
            {% for c in items %}
            <tr>
                <td>{{c[0]}}</td>
                <td>{{c[1]}}</td>
                <td>{{c[2]}}</td>
                <td>{{c[3]}}</td>
                <td>{{c[4]}}</td>
                <td>{{c[5]}}</td>
                <td>{{c[6]}}</td>
                <td><input type="number" value="1"></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>