<!DOCTYPE html>
<html>

<head>
    <title>Bill</title>
</head>

<body>
    <h2><a href='/'>Home</a></h2>
    <h3>Bill</h3>
        <div>
            <h2>{{ message }}</h2>
        </div>
<div>
    <form id='bill_edit' method="POST" action="/bill/{{bills[0][0]}}/">
        ID:<label>ID:{{bills[0][0]}}</label><br>
        <input type="hidden" value="{{bills[0][0]}}" name="bill_id" > 
        Customer:<input  type="number"  value="{{bills[0][1]}}" name="customer_id" placeholder="Customer"><br>
        Item:<input type="text" value="{{bills[0][2]}}" name="item_id" placeholder="Item"> <BR>
        Unit Price:<input  type="number" value="{{bills[0][3]}}" name="unit_price" placeholder="Price per gm"><BR>
        Weight (gms):<input  type="number" value="{{bills[0][4]}}" name="item_weight" onchange='calculate_price()' placeholder="Weight in gms"><BR>
        Price:<input  type="number" value="0.00" name="price" disabled><BR>
        Discount(%):<input  type="number" value="{{bills[0][5]}}" name="discount" placeholder="Discount %"><BR>
        Total Price:<input  type="number" value="{{bills[0][6]}}" name="total_price" ><BR>
        <input  type="submit" value="Save" id="bill_save"  >
    </form>
</div>
</body>
<script>
function calculate_price(){
    unit_price = document.getElementById('unit_price')
    weight = document.getElementById('item_weight')
    document.getElementById('price').textContent = unit_price*weight
}


</script>
</html>