<!DOCTYPE html>
<html>

<head>
    <title>Customers</title>
</head>

<body>
    <div>
        <h2 style="float:right"></h2>
    </div>
    <h3><a href='/'>Home</a>  <a href='/items/'>Items</a></h3>
    <h2>Customers</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>
        <div>
            <form id='customer_edit' method="POST"  enctype="multipart/form-data"  action="/customer/">
                <input type="text"  name="customer_name" placeholder="Name" > 
                <input  type="number" name="customer_mob1" placeholder="Mobile 1">
                <input  type="number" name="customer_mob2" placeholder="Mobile 2">
                <input  type="text" name="customer_address" placeholder="Address"><br>
                <input  type="text" name="customer_city" placeholder="City">
                <input  type="text" name="customer_aadhar" placeholder="Aadhar">
                <input  type="email" name="customer_email" placeholder="Email">
                <input  type="text" name="customer_photo" placeholder="Photo" value="/uploads/no_photo.png">
                <input  type="file" name="file">
                <input  type="submit" value="Add" id="customer_save"  ><br><br><br>
            </form>
        </div>
        <input  type="text" id="search" placeholder="Type any string to search" onkeyup="search()"><br><br>
        <div>
        <table id = "data_table" border="1">
            <th>ID</th>
            <th>Name</th>
            <th>Mob1</th>
            <th>Mob2</th>
            <th>Address</th>
            <th>City</th>
            <th>Aadhar</th>
            <th>Email</th>
            <th>Photo</th>
            {% for c in customers %}
            <tr>
                <td><a href='/customers/{{c[0]}}/' >{{c[0]}}</a></td>
                <td>{{c[1]}}</td>
                <td>{{c[2]}}</td>
                <td>{{c[3]}}</td>
                <td>{{c[4]}}</td>
                <td>{{c[5]}}</td>
                <td>{{c[6]}}</td>
                <td>{{c[9]}}</td>
                <td><img src="{{c[7]}}" width="100" height="75"></td>
                <td><a href='/transactions/{{c[0]}}/'>Purchase</a></td>
                <td><a href='/showtransactions/{{c[0]}}/'>Show Purchase</a></td>

            </tr>
            {% endfor %}
        </table>
        <script>
            function search() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("data_table");
                th = table.getElementsByTagName("th");
                // alert(filter);
                tr = table.getElementsByTagName("tr");
                for (i = 1; i < tr.length; i++) {
                    tr[i].style.display = "none";
                    for(var j=0; j<th.length; j++){
                        td = tr[i].getElementsByTagName("td")[j];      
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter.toUpperCase()) > -1)                               {
                                tr[i].style.display = "";
                                break;
                            }
                        }
                    }
                }
            }
        </script>
    </div>
    </div>

</body>

</html>