<!DOCTYPE html>
<html>

<head>
    <title>Customers</title>
</head>

<body>
    <h2><a href='/'>Home</a></h2>
    <h3>Customer</h3>
        <div>
            <h2>{{ message }}</h2>
        </div>
<div>
    <form id='customer_edit' method="POST" action="/customer/{{customers[0][0]}}/">
        <label>ID:{{customers[0][0]}}</label><br>
        <input type="hidden" value="{{customers[0][0]}}" name="customer_id" > 
            Name: <input type="text" value="{{customers[0][1]}}" name="customer_name" > <BR>
        Mobile1: <input  type="number" value="{{customers[0][2]}}" name="customer_mob1" ><BR>
        Mobile2: <input  type="number" value="{{customers[0][3]}}" name="customer_mob2" ><BR>
        Address: <input  type="text" value="{{customers[0][4]}}" name="customer_address" ><BR>
        City: <input  type="text" value="{{customers[0][5]}}" name="customer_city" ><BR>
        Aadhar: <input  type="text" value="{{customers[0][6]}}" name="customer_aadhar" ><BR>
        Photo: <input  type="text" value="{{customers[0][7]}}" name="customer_photo" ><br>
        <input  type="submit" value="Save" id="customer_save"  >
    </form>
</div>
<BR>
    <h2>Bills</h2>
<div>
    <table border="1">
        <th>ID</th>
        <th>Customer Id</th>
        <th>Item Id</th>
        <th>Unit Price</th>
        <th>Qty</th>
        <th>Discount</th>
        <th>Total Price</th>
        <th>Created Date</th>
        {% if bills %}
        {% for c in bills %}
        <tr>
            <td><a href='/bills/{{c[0]}}/'>{{c[0]}}</a></td>
            <td>{{c[1]}}</td>
            <td>{{c[2]}}</td>
            <td>{{c[3]}}</td>
            <td>{{c[4]}}</td>
            <td>{{c[5]}}</td>
            <td>{{c[6]}}</td>
            <td>{{c[7]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</body>

</html>