<!DOCTYPE html>
<html>

<head>
    <title>Customers</title>
</head>

<body>
    <div>
        <h2 style="float:right"></h2>
    </div>
    <h3><a href='/'>Home</a>  <a href='/items/'>Items</a></h3>
    <h2>Customers</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>
        <div>
            <form id='customer_edit' method="POST"  enctype="multipart/form-data"  action="/customer/">
                <input type="text"  name="customer_id" id="customer_id" value="0" readonly > 
                <input type="text"  name="customer_name" id="customer_name" placeholder="Name" > 
                <input  type="number" name="customer_mob1" id="customer_mob1" placeholder="Mobile 1">
                <input  type="number" name="customer_mob2" id="customer_mob2" placeholder="Mobile 2">
                <input  type="text" name="customer_address" id="customer_address" placeholder="Address"><br>
                <input  type="text" name="customer_city" id="customer_city" placeholder="City">
                <input  type="text" name="customer_aadhar" id="customer_aadhar" placeholder="Aadhar">
                <input  type="email" name="customer_email" id="customer_email" placeholder="Email">
                <input  type="text" name="customer_photo" id="customer_photo" placeholder="Photo" value="/uploads/no_photo.png">
                <input  type="file" name="file">
                <input  type="submit" value="Save" id="customer_save"  ><br><br><br>
            </form>
        </div>
        <input  type="text" id="search" placeholder="Type any string to search" onkeyup="search()"><br><br>
        <div>
        <table id = "data_table" border="1">
            <th>ID</th>
            <th>Name</th>
            <th>Mob1</th>
            <th>Mob2</th>
            <th>Address</th>
            <th>City</th>
            <th>Aadhar</th>
            <th>Email</th>
            <th>Photo</th>
            {% for c in customers %}
            <tr id={{c[0]}}>
                <td><button onclick="edit({{c[0]}})">{{c[0]}}</button></td>
                <td>{{c[1]}}</td>
                <td>{{c[2]}}</td>
                <td>{{c[3]}}</td>
                <td>{{c[4]}}</td>
                <td>{{c[5]}}</td>
                <td>{{c[6]}}</td>
                <td>{{c[9]}}</td>
                <td><img src="{{c[7]}}" width="100" height="75"></td>
                <td><a href='/transactions/{{c[0]}}/'>Purchase</a></td>
                <td><a href='/showtransactions/{{c[0]}}/'>Show Purchase</a></td>

            </tr>
            {% endfor %}
        </table>
        <script>
            function search() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("data_table");
                th = table.getElementsByTagName("th");
                // alert(filter);
                tr = table.getElementsByTagName("tr");
                for (i = 1; i < tr.length; i++) {
                    tr[i].style.display = "none";
                    for(var j=0; j<th.length; j++){
                        td = tr[i].getElementsByTagName("td")[j];      
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter.toUpperCase()) > -1)                               {
                                tr[i].style.display = "";
                                break;
                            }
                        }
                    }
                }
            }
            function edit(val){
                // alert(val);
                tr = document.getElementById(val);
                // alert(tr)
                th = document.getElementsByTagName('th');
                td = tr.getElementsByTagName('td');
                document.getElementById('customer_id').value=val
                document.getElementById('customer_name').value=td[1].innerHTML
                document.getElementById('customer_mob1').value=td[2].innerHTML
                document.getElementById('customer_mob2').value=td[3].innerHTML
                document.getElementById('customer_address').value=td[4].innerHTML
                document.getElementById('customer_city').value=td[5].innerHTML
                document.getElementById('customer_aadhar').value=td[6].innerHTML
                document.getElementById('customer_email').value=td[7].innerHTML
                x=td[8].getElementsByTagName('img')[0].src
                document.getElementById('customer_photo').value=x.substring(x.indexOf('/uploads'))
                document.getElementById('customer_name').focus()
            }
        </script>
    </div>
    </div>

</body>

</html>