<!DOCTYPE html>
<html>

<head>
    <title>Accounts</title>
</head>

<body>
    <h2>Accounts Summary </h2>

        <table width="500" border="1">
            <tr>
                <td>No. of Customers</td>
                <td><a href='/customers/' >{{reports['customers_count']}}</a></td>
            </tr>
            <tr>
                <td>No. of Items</td>
                <td><a href='/items/' >{{reports['items_count']}}</a></td>
            </tr>
            <tr>
                <td>No. of Transactions</td>
                <td><a href='/alltransactions/' >{{reports['transactions_count']}}</a></td>
            </tr>
           <tr>
                <td>Sales Total</td>
                <td><a href='/alltransactions/'>Rs. {{reports['total_sales']}}</a></td>
            </tr>
            <tr>
                <td>Collection Pending</td>
                <td><a href='/alltransactions/'>Rs. {{reports['total_balance']}}</a></td>
            </tr>
            <tr>
                <td>Daily Sales Summary</td>
            </tr>
            {% for sale in reports['daily_sales'] %}
            <tr>
                <td>{{sale['date']}}</td>
                <td>Rs. {{sale['amount']}}</a></td>
            </tr>
            {% endfor %}
        </table>
</body>

</html>