<!DOCTYPE html>
<html>

<head>
    <title>Items</title>
</head>

<body>
    <h2><a href='/'>Home</a></h2>
    <h2>Items</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>
        <div>
            <form id='item_edit' method="POST" enctype="multipart/form-data"  action="/item/">
                <input type="text" value="" name="item_name" placeholder="Name">
                <input  type="text" value="" name="item_desc" placeholder="Description">
                <input  type="text" value="" name="item_weight" placeholder="Weight(gms)">
                <input  type="number" value="10" name="item_stock" placeholder="Stock">
                <input  type="file" name="file">
                <input  type="submit" value="Save" id="item_save"  >
            </form>        
            <!-- <form method="post" enctype="multipart/form-data" action="/upload">
                Photo<input  type="file" name="file">
                <input type="submit">
            </form> -->
        </div>
    <div>
        <table border="1">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Weight</th>
            <th>Stock</th>
            <th>Photo</th>
            {% for c in items %}
            <tr>
                <td><a href='/items/{{c[0]}}/' >{{c[0]}}</a></td>
                <td>{{c[1]}}</td>
                <td>{{c[2]}}</td>
                <td>{{c[3]}}</td>
                <td>{{c[6]}}</td>
                <td><img src="{{c[4]}}" width="400" height="300"></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>