<!DOCTYPE html>
<html>

<head>
    <title>Items</title>
</head>

<body>
    <h2><a href='/'>Home</a></h2>
    <h2>Items</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>
        <div>
            <form id='item_edit' method="POST" action="/item/">
                <input type="text" value="" name="item_name" placeholder="Name">
                <input  type="text" value="" name="item_desc" placeholder="Description">
                <input  type="text" value="" name="item_weight" placeholder="Weight(gms)">
                <input  type="text" value="" name="item_photo" placeholder="Photo">
                <input  type="submit" value="Add" id="item_save"  ><br>
            </form>        
        </div>
    <div>
        <table border="1">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Weight</th>
            <th>Photo</th>
            {% for c in items %}
            <tr>
                <td><a href='/items/{{c[0]}}/' >{{c[0]}}</a></td>
                <td>{{c[1]}}</td>
                <td>{{c[2]}}</td>
                <td>{{c[3]}}</td>
                <td>{{c[4]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>