<!DOCTYPE html>
<html>

<head>
    <title>Transactions</title>
</head>

<body>

    <h3><a href='/'>Home</a> <a href='/customers/'>Customers</a> <a href='/items/'>Items</a></h3>
    <h2>Items</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>

        <strong>{{customer[0][1]}}</strong>

        <form id="transaction_form" method="POST" action="/transaction/{{customer[0][0]}}/">
        Unit Price Per Gram :<input type="number" id="unit_price" name="unit_price" value="{{todays_gold_price}}" onkeyup="calculateGrandTotal()" required>
        <Strong>Tax %</Strong><input id="tax" name="tax" type ="number" value="20" type="number" onkeyup="calculateGrandTotal()" required> 
        <Strong>Misc Charges</Strong><input id="misc" type="number" name="misc" value="0.00" onkeyup="calculateGrandTotal()" required>
        <Strong>Total</Strong><input type="number" id="grand_total" name="grand_total" value="0.00" required>
        <button type="button" onclick="calculateGrandTotal()">Calculate</button>
        <button type = "button" onclick="reset()">Reset</button>
        <input type="Submit" value="Save"><br><br>
        <div>

        <table id="data_table" style="width:1000px" border="3">
            <th>ID</th>
            <th>Name</th>
            <!-- <th>Description</th> -->
            <th>Weight (Gms)</th>
            <th>Photo</th>
            <th>Stock</th>
            <th>Qty</th>
            <th>Wastage / Making Charges (%)</th>
            <th>Price (Rs.)</th>
            {% for c in items %}
            <tr id={{c[0]}}>
                <td>{{c[0]}}</td>
                <td>{{c[1]}}</td>
                <!-- <td>{{c[2]}}</td> -->
                <td id="weight{{c[0]}}">{{c[3]}}</td>
                <td><img src='{{c[4]}}' width="100" height="75"></td>
                <td>{{c[6]}}</td>
                <td><input id="qty{{c[0]}}" name="qty{{c[0]}}" type="number" min="0" max="{{c[6]}}" value="0" onkeyup="calculateDiscountedPrice({{c[0]}})" onchange="calculateDiscountedPrice({{c[0]}})" ></td>
                <td><input id="discount{{c[0]}}" name="discount{{c[0]}}" type="number"  value="18.00" min="0"  onkeyup="calculateDiscountedPrice({{c[0]}})" onchange="calculateDiscountedPrice({{c[0]}})" ></td>
                <td><input id="total_price{{c[0]}}" name="total_price{{c[0]}}" value="0.00" ></td>
            </tr>
            {% endfor %}
        </table><br><br>
    </form>
            <script>
                function reset(){
                    for (i=0;i<inputs.length;i++){
                        if (inputs[i].name.startsWith('qty')){
                            itemid = inputs[i].name.substring(3)
                            document.getElementById('qty'+itemid).value = 0.00
                            document.getElementById('discount'+itemid).value = 0.00
                            document.getElementById('total_price'+itemid).value = 0.00
                        }
                    }
                    document.getElementById('grand_total').value = 0.00
                    document.getElementById('tax').value = 20.00
                    document.getElementById('misc').value = 0.00
                    return false;
                };

                function calculateDiscountedPrice(val){
                    weight=document.getElementById("weight"+val).innerHTML
                    // alert(weight)
                    wastage=1+document.getElementById("discount"+val).value/100
                    unit_price=document.getElementById('unit_price').value
                    qty=document.getElementById('qty'+val).value
                    // alert(unit_price + ' ' + qty + ' ' + weight + ' ' + wastage)
                    document.getElementById('total_price'+val).value = 
                            Math.ceil(unit_price *  weight * wastage * qty)
                                   

                    calculateGrandTotal();
                    // return false;
                };
                function calculateGrandTotal(){
                    inputs=document.getElementsByTagName('input')
                    grand_total = 0.00
                    for (i=0;i<inputs.length;i++){
                        if (inputs[i].name.startsWith('total_price')){
                            itemid = inputs[i].name.substring("total_price".length)
                            grand_total += parseInt(document.getElementById('total_price'+itemid).value)

                        }
                    }
                    tax = 1+parseInt(document.getElementById('tax').value)/100
                    grand_total = grand_total * tax
                    grand_total = grand_total + parseInt(document.getElementById('misc').value)
                    // alert(grand_total)
                    document.getElementById('grand_total').value = Math.ceil(grand_total)
                    return false; 
                };
        </script>
    </div>
</body>

</html>