<!DOCTYPE html>
<html>

<head>
    <title>Transactions</title>
</head>

<body>

    <h3><a href='/'>Home</a> <a href='/customers/'>Customers</a> <a href='/items/'>Items</a></h3>
    <h2>Items</h2>
        <div>
            <h3>{{ message }}</h3>
        </div>

        <strong>{{customer[0][1]}}</strong>

        <form id="transaction_form" method="POST" action="/transaction/{{customer[0][0]}}/">
        Unit Price Per Gram :<input type="number" id="unit_price" name="unit_price" value="{{todays_gold_price}}" readonly>
        <Strong>Tax %</Strong><input id="tax" name="tax" type ="number" value="20" type="number" onkeyup="calculateGrandTotal()" required> 
        <Strong>Misc Charges</Strong><input id="misc" type="number" name="misc" value="0.00" onkeyup="calculateGrandTotal()" required>
        <Strong>Total</Strong><input type="number" id="grand_total" name="grand_total" value="0.00" required>
        <button type="button" onclick="calculateGrandTotal()">Calculate</button>
        <button type = "button" onclick="reset()">Reset</button>
        <input type="Submit" value="Save"><br><br>
        <div>

        <table id="data_table"  border="3">
            <th>ID</th>
            <th>Name</th>
            <th>Weight (Gms)</th>
            <th>Unit Price (Rs.) </th>
            <th>Stock</th>
            <th>Qty</th>
            <th>Wastage / Making Charges</th>
            <th>Other Charges</th>
            <th>Price (Rs.)</th>
            <th>Photo</th>
            {% for c in items %}
            <tr id="{{c['id']}}">
                <td>{{c['id']}}</td>
                <td>{{c['name']}}</td>
                <td style="text-align:center" id="weight{{c['id']}}">{{c['weight']}}</td>
                <td  style="text-align:center"><input style="width:50px" id="unit_price{{c['id']}}" name="unit_price{{c['id']}}" type="number" min="0" value="{{todays_gold_price}}" onkeyup="calculateDiscountedPrice({{c['id']}})" onchange="calculateDiscountedPrice({{c['id']}})" ></td>
                <td  style="text-align:center">{{c['stock']}}</td>
                <td  style="text-align:center"><input style="width:50px" id="qty{{c['id']}}" name="qty{{c['id']}}" type="number" min="0" max="{{c['qty']}}" value="0" onkeyup="calculateDiscountedPrice({{c['id']}})" onchange="calculateDiscountedPrice({{c['id']}})" ></td>
                <td style="text-align:center"><input style="width:100px" id="discount{{c['id']}}" name="discount{{c['id']}}" type="number"  value="18.00" min="0"  onkeyup="calculateDiscountedPrice({{c['id']}})" onchange="calculateDiscountedPrice({{c['id']}})" >
                    <select onchange="calculateDiscountedPrice({{c['id']}})" name="discount_price_type{{c['id']}}" id="discount_price_type{{c['id']}}"><option value="rupees" selected >Rs.</option><option value="percent">%</option></select></td>
                </td>
                <td style="text-align:center"><input style="width:50px" id="other_price{{c['id']}}" name="other_price{{c['id']}}" type="number"  value="0.00" min="0"  onkeyup="calculateDiscountedPrice({{c['id']}})" onchange="calculateDiscountedPrice({{c['id']}})" >
                        <select  onchange="calculateDiscountedPrice({{c['id']}})" name="other_price_type{{c['id']}}" id="other_price_type{{c['id']}}"><option value="rupees" selected >Rs.</option><option value="percent">%</option></select>
                    </td>
                <td><input style="width:100px" id="total_price{{c['id']}}" name="total_price{{c['id']}}" value="0.00" ></td>
                <td><img src="{{c['photo']}}" width="100" height="75"></td>
            </tr>
            {% endfor %}
        </table><br><br>
    </form>
            <script>
                function reset(){
                    for (i=0;i<inputs.length;i++){
                        if (inputs[i].name.startsWith('qty')){
                            itemid = inputs[i].name.substring(3)
                            document.getElementById('qty'+itemid).value = 0.00
                            document.getElementById('discount'+itemid).value = 0.00
                            document.getElementById('total_price'+itemid).value = 0.00
                            document.getElementById('unit_price'+itemid).value = 0.00
                            document.getElementById('other_price'+itemid).value = 0.00
                        }
                    }
                    document.getElementById('grand_total').value = 0.00
                    document.getElementById('tax').value = 20.00
                    document.getElementById('misc').value = 0.00
                    return false;
                };

                function calculateDiscountedPrice(val){
                    wastage_price_type = document.getElementById("discount_price_type"+val).value
                    other_price_type = document.getElementById("other_price_type"+val).value
                    weight=parseInt(document.getElementById("weight"+val).innerHTML)
                    unit_price=parseInt(document.getElementById('unit_price'+val).value)
                    other_price=parseInt(document.getElementById('other_price'+val).value)
                    qty=parseInt(document.getElementById('qty'+val).value)
                    // alert(unit_price + ' ' + qty + ' ' + weight + ' ' + wastage)
                    if (wastage_price_type == 'percent'){
                        wastage=1+(document.getElementById("discount"+val).value/100)
                        // alert(wastage)
                        document.getElementById('total_price'+val).value = 
                            Math.ceil(unit_price *  weight * wastage * qty)                                    
                    }else{                        
                        wastage=parseInt(document.getElementById("discount"+val).value)
                        // alert(wastage)
                        document.getElementById('total_price'+val).value = 
                            Math.ceil(unit_price *  weight  * qty) + wastage                                   
                    }

                    x=parseInt(document.getElementById('total_price'+val).value)
                    if (other_price_type == 'percent'){
                        other=(other_price/100) * x
                        // alert(wastage)
                        document.getElementById('total_price'+val).value = x + other
                    }else{                        
                        document.getElementById('total_price'+val).value = x + other_price
                    }
                    calculateGrandTotal();
                    // return false;
                };
                function calculateGrandTotal(){
                    inputs=document.getElementsByTagName('input')
                    grand_total = 0.00
                    for (i=0;i<inputs.length;i++){
                        if (inputs[i].name.startsWith('total_price')){
                            itemid = inputs[i].name.substring("total_price".length)
                            grand_total += parseInt(document.getElementById('total_price'+itemid).value)

                        }
                    }
                    tax = 1+parseInt(document.getElementById('tax').value)/100
                    grand_total = grand_total * tax
                    grand_total = grand_total + parseInt(document.getElementById('misc').value)
                    // alert(grand_total)
                    document.getElementById('grand_total').value = Math.ceil(grand_total)
                    return false; 
                };
        </script>
    </div>
</body>

</html>