<!DOCTYPE html>
<html>

<head>
    <title>Transactions</title>
</head>

<body>
    <h3><a href='/'>Home</a> <a href='/customers/'>Customers</a> <a href='/items/'>Items</a></h3>
        <div>
            <h3>{{ message }}</h3>
        </div>
        <h2>Customer</h2>
        Customer ID: <strong>{{customer[0][0]}}</strong><br>
        Name: <strong>{{customer[0][1]}}</strong><br>
        Phone No:<strong>{{customer[0][2]}}</strong><br><br>
        {% for trans in transactions['transactions'] %}
        {% if trans['status'] == 'ACTIVE' %}
        <h2>Transaction {{trans['id']}} Amount Rs. {{trans['final_price']}} Balance Rs. {{trans['balance']}} 
            {% if trans['balance'] == trans['final_price'] %}<a href="/cancel/{{trans['id']}}/"> Cancel</a>{% endif %}</h2>
        {% else %}
        <h2>Transaction {{trans['id']}} Cancelled</h2>
        {% endif %}
        Unit Price Per Gram :<strong>Rs. {{trans['unit_price']}}</strong>   Tax % :<Strong>{{trans['tax']}}</Strong>    Misc Charges:<Strong>Rs. {{trans['misc']}}</Strong>
          Date :<Strong> {{trans['created_date']}}</Strong><br>
        <table id="data_table" style="width:1000px" border="3">
            <th>Item ID</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Discount (%)</th>
            <th>Weight in gms</th>

            {% for c in trans['items'] %}
            <tr>
                <td>{{c['id']}}</td>
                <td>{{c['item_name']}}</td>
                <td>{{c['qty']}}</td>
                <td>{{c['discount']}}</td>
                <td>{{c['weight']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if trans['status'] == 'ACTIVE' %}       
        <h2>Payments {% if trans['balance'] > 0 %} (<a href='/newpayment/{{trans['id']}}/{{customer[0][0]}}/'>+</a>)
        {% endif %}
        </h2>
        {% else %}
        <h2>Payments</h2>
        {% endif %}
        <table id="data_table" style="width:1000px" border="3">
            <th>ID</th>
            <th>Payment Method</th>
            <th>Amount (Rs)</th>
            <th>Details</th>
            <th>Date</th>

            {% for c in trans['payments'] %}
            <tr>
                <td>{{c['id']}}</td>
                <td>{{c['amount']}}</td>
                <td>{{c['payment_method']}}</td>
                <td>{{c['payment_details']}}</td>
                <td>{{c['payment_date']}}</td>
            </tr>
            {% endfor %}
        </table><br>
        {% endfor %}
</body>

</html>